.digits_login_form .dig-modal-con {
    box-shadow: none!important;
    border-radius: 8px!important;
}
.dig_pgmdl_1 .minput input {
    border: 1px solid #e0e0e0!important;
    border-radius: 8px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
}
.minput .minput_inner span.bgdark {
    display: none;
}
.digits_bx_cred_frm_container {
    padding: 32px 32px 16px!important;
    display: flex;
    flex-direction: column;
}
body .dig-box * {
    font-family: 'aviny'!important;
}
span.dig-box-login-title {
    float: right;
    font-size: 32px;
    line-height: 32px;
}
span.dig-cont-close {
    float: left;
    color: #B4BAC6!important;
    font-size: 32px;
    top: unset;
    line-height: 28px;
    font-family: tahoma!important;
}
span.dig-cont-close span {
    font-family: tahoma!important;
}
.minput .minput_inner {
    margin: 0px 0px 16px;
    display: flex;
    flex-direction: column-reverse;
}
.digits_bx_head {
    /* margin-bottom: 30px; */
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 40px;
}
.minput_inner label {
    font-size: 14px!important;
    line-height: 20px;
    padding-bottom: 8px;
    color: #0A2439;
    position: unset;
}
.dig-content input {
    margin: 0px!important;
}
.dig_login_rembe {
    display: none!important;
}
.digits_login_form .dig_lrf_box .minput .digits-input-wrapper ~ label, .digits_login_form .dig_lrf_box .minput .not-empty ~ label {
    font-size: 16px !important;
}
.dig_ma-box .forgotpasswordaContainer {
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 99999;
    cursor: pointer;
    margin: 0px;
}
.dig_ma-box .forgotpasswordaContainer a {
    line-height: 14px;
    color: #15A2A2!important;
    font-size: 14px !important;
}
.dig_ma-box .logforb {
    padding: 0px!important;
}
div#dig_login_va_otp {
    margin-top: 24px!important;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0081ba;
    color: #fff;
    box-shadow: 0px 2px 4px rgb(201 205 214 / 24%);
    font-size: 16px;
}
button.lighte.bgdark.button[type=submit] {
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0081ba;
    color: #fff;
    font-size: 20px;
    box-shadow: none;
    margin-bottom: 24px!important;
    width: 100%;
}

div#dig_login_va_otp:hover {
    border-color: #C9CDD6;
    box-shadow: none;
}
.dig_ma-box .signdesc {
    font-size: 18px;
    line-height: 32px;
    color: #768591;
    margin: 24px 0px 0px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
}
.digits_login_form .dig_ma-box .bgtransborderdark {
    color: #0081ba;
    border: none!important;
    margin: 0px!important;
    font-size: 18px;
    line-height: 24px;
    height: unset;
}
button.dig_reg_btn_password.lighte.bgdark.button.registerbutton {
    margin: 24px 0px!important;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #E0E3E7;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #0A2439;
    box-shadow: 0px 2px 4px rgb(201 205 214 / 24%);
    font-size: 18px;
}
button.dig_reg_btn_password.lighte.bgdark.button.registerbutton:hover {
    border-color: #C9CDD6;
    box-shadow: none;
}
.backtoLoginContainer {
    margin: 0px!important;
    font-size: 14px;
    line-height: 32px;
    color: #768591;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;
}
a.backtoLogin {
    color: #728188!important;
}
.forgot .backtoLoginContainer {
    display: none!important;
}
.forgot .backtoLoginContainer {
    display: none!important;
}
.dig_popmessage {
    left: 0px!important;
    right: 0px;
    display: flex!important;
    justify-content: center;
    width: 100%;
    background: unset!important;
    box-shadow: none!important;
    min-height: unset;
}
.dig_popmessage_contents {
    width: 380px;
    position: relative;
    height: 48px;
    background: #fff;
    border-radius: 4px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}
.dig_popdismiss {
    background-color: #B4BAC6!important;
    position: unset;
    width: 12px!important;
    height: 12px!important;
    margin-right: auto;
}
.dig_error_message .dig_popmessage_contents {
    border-right: 5px solid #FF3D3A;
}
.dig_lasele {
    padding: 0px;
    width: unset;
    display: flex!important;
    align-items: center;
    grid-gap: 8px;
    margin-left: auto;
    right: unset!important;
    left: unset!important;
}
.dig_lase_message {
    color: #161616!important;
    font-size: 16px!important;
    line-height: 32px!important;
    opacity: 1;
}
.dig_lase_snap {
    display: none!important;
}
.dig_notice_msg .dig_popmessage_contents {
    border-right: 5px solid #ffaa09;
}
.dig_notice_msg  .dig_firele {
    background-color: #ffaa09;
}
.dig_success_msg .dig_popmessage_contents {
    border-right: 5px solid #86C40B;
}
input.mobile_field.mobile_format.dig-mobmail.empty {
    border: 1px solid #e0e0e0!important;
    border-radius: 8px;
    height: 40px;
}
.dig_verify_mobile_no.lighte.bgdark.button,
.dig_verify_otp_submit_button.dig_verify_otp.lighte.bgdark.button {
    margin-top: 24px!important;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0081ba;
    color: #fff;
    box-shadow: 0px 2px 4px rgb(201 205 214 / 24%);
    font-size: 16px;
}
.dig_oldaccntmr_box .digloginpage .dig_sml_box_msg {
    margin-bottom: 24px;
}

div#dig_lo_resend_otp_btn {
    margin-top: 16px;
}

.dig_firele {
    display: none!important;
}

.dig_sml_box_msg {
    text-align: right;
    margin: 10px 0;
}

.dig_sml_box_msg_head {
    text-align: right;
}

.dig_ma-box .digloginpage {
    padding: 0 !important;
}